@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');

* {
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
}

h1 {
  font-family: Lexend;
}

body {
  background-color: #ffffff;
}

.header {
  background-color: #4285f4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

.header .logo {
  cursor: pointer;
  margin-right: auto;
}

.header .logo img {
  height: 100px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.2);
}

.navbar-nav .nav-link:hover {
  background-color: #e9ecef;
  border-radius: 15px;
  transform: scale(1.1);
  transition: border-radius 0.3s ease;
}

.navbar-nav .nav-link { 
  border-radius: 10px; 
}


.header .btn button {
  font-weight: 700;
  color: #ffffff;
  padding: 9px 25px;
  color: #ffffff;
  background: #191970;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover {
  background-color: #000080;
  transform: scale(1.1);
}

/* formularios  */

.formulario {
    align-items: center;
    margin: 3% 20%;
    padding: 2% 5%;
}

.botonForm{
    margin: 5%;
}
#email.form-control::placeholder,
#usuario.form-control::placeholder,
#contraseña.form-control::placeholder{
    opacity: 0.5;
}
 
.form-group{
    margin-top: 3%;
}
